* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    background: #555;
}

.hero {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #4e54c8;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #8f94fb;
}

.container {
    width: 80%;
    margin: 0 auto;
}

footer {
    background: #555;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ccc;
}

.install {
    background: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.install .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.install-info {
    flex: 1 1 60%;
    text-align: left;
    padding-right: 20px;
}

.install-info h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.install-info p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.install-info ul {
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
}

.install-info ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.flow-logo {
    flex: 1 1 30%;
    text-align: center;
}

.flow-logo img {
    max-width: 300%;
    height: auto;
}

.btn-secondary {
    display: inline-block;
    padding: 12px 30px;
    background-color: #4e54c8;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #8f94fb;
}

.documentation {
    background: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.documentation .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.documentation h1 {
    width: 100%;
    font-size: 3em;
    padding: 0 20px;
    box-sizing: border-box;
}

.documentation h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.documentation p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.documentation ul {
    list-style: none;
    margin-bottom: 20px;
}

.documentation ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}
